html, body {
    margin: 0; 
    padding: 0;
    overflow-x: hidden; /* Disables horizontal scrolling */
    background-color: #D01E24; /* Sets the background color to the specified red */
    text-align: center; /* Centers content in the body */
}

.header-img {
    width: 100vw; /* Ensures the image width covers exactly the width of the viewport */
    height: auto; /* Scales the height automatically based on the width */
}

.arrow-img {
    width: 50px; /* Adjust this value to the desired width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures the image is treated as a block-level element for better control */
    margin: 10px auto; /* Center the image horizontally and add some margin for spacing */
}


.icon-img {
    width: 25%; /* Smaller width for the icon image */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures images are treated as block-level elements */
    margin: 20px auto; /* Center image horizontally with vertical margins */
}

.main-section {
    position: relative; /* Keeps it in the normal flow but allows z-index adjustment if necessary */
}

.sub-image {
    max-width: 50%; /* Set the maximum width of the sub-images to 50% */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures images are treated as block-level elements */
    margin: 0 auto 15px; /* Center sub-images horizontally with 15px margin at the bottom */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.button-container {
    display: flex; /* Use flexbox for the button container */
    justify-content: center; /* Center the buttons horizontally */
    margin: 25px auto 50px; /* Adds margin to top, auto on the sides, and 50px at the bottom */
}

.button-container a {
    display: inline-block; /* Ensure the link takes only the necessary space */
    margin: 10px; /* Add margin around the links */
}

.disclaimer-space {
    height: 75px; /* Reduced the height for better spacing distribution */
}

.disclaimer-image {
    max-width: 90%; /* Ensure the disclaimer image is fully responsive */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures image is treated as block-level element */
    margin: 20px auto; /* Center disclaimer image horizontally with 20px margin at the top and bottom */
}

.custom-link {
    text-decoration: none; /* Removes the underline from all custom links */
    font-size: 1.0em; /* Sets a base font size for all custom links */
}

.renounced-link, .burnt-link {
    color: #1877f2; /* Sets a blue color for links */
}

.custom-text {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff; /* Changes text color to white for better contrast */
    margin: 50px auto;
    font-size: 2.0em;
    text-align: center; /* Ensures all text in the paragraph is centered */
}

h2 {
    color: #ffffff; /* Set text color to white */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black outline */
    font-size: 2.0em; /* Example font size, adjust as needed */
    margin: 20px auto; /* Center text and add vertical margin */
    text-align: center; /* Ensure text is centered */
}

/* Apply similar styles to any other text elements as needed */
.custom-text, .links, .footer-section p {
    color: #ffffff; /* Set text color to white */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black outline */
    text-align: center; /* Center text, if not already set */
}

